<div class="container"> 
<div class="row">
    <div class="col-sm-8 card card-body ">
            <form class="form" [formGroup]="wellForm" (ngSubmit)="submitForm(wellForm.value)">
                    <div class="form-group">
                        <label for="fname"> <strong>Name</strong> </label>
                        <input type="text" id="fname"  class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="type"> <strong>Type</strong> </label>
                        <input type="text" id="type"  class="form-control" formControlName="type">
                    </div>
                    <div class="form-group">
                        <label for="source"> <Strong>Source Key</Strong> </label>
                        <input type="number" id="sorce"  class="form-control" formControlName="source"  disabled>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Well </button>
                </form>
    </div>
    <div class="col-sm-4 align-self-center">
        <h3 class="color-red"> Child Component</h3>
    </div>
</div>
</div>
