<p>
  user works!
</p>

<div class="container well">
  <table class="table table-light table-hover table-striped">
    <thead class="thead-dark">
      <tr>
          <th>Name </th>
          <th>Age </th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td> Shafaqat </td>
          <td> 27 </td>
        </tr>
        <tr>
          <td>Varu</td>
          <td>30</td>
        </tr>
        <tr>
          <td> Archana</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Jitendra</td>
          <td>60</td>
        </tr>
      </tbody>
  </table>
</div>